@charset "UTF-8";
/**
@Author：Wyunfei
@Date：2019/1/25/7:39
@FileName: app
*/
/**
@Author：Wyunfei
@Date：2019/1/25/7:43
@FileName: common
*/
body, ul, li, p, h1, h2, h3, h4, h5, h6, form, img, div, section, header, dl, dt, dd, small {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

li {
  list-style: none; }

body {
  font-family: "Microsoft YaHei UI Light"; }

a {
  text-decoration: none;
  color: #0f78ef; }

.slogin {
  width: 100%;
  background: #f7f8fa;
  padding-bottom: 0.832rem; }
  .slogin p:first-child {
    padding: 0.9173333333rem 0 0 1.0026666667rem;
    font-size: 0.7253333333rem;
    color: #040404; }
  .slogin p:last-child {
    padding: 0.2986666667rem 0 0 1.0026666667rem;
    font-family: "ArialMT";
    font-size: 0.384rem;
    color: #999999; }

.connect {
  padding: 1.0026666667rem; }
  .connect p {
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.64rem;
    color: #000;
    line-height: 1.28rem; }

.about {
  width: 14.4853333333rem;
  margin: 0 auto;
  border: 1px #EEEFEF solid;
  border-left: 0;
  border-right: 0;
  overflow: hidden;
  padding: 0.8533333333rem 0; }
  .about ul {
    width: 9.0666666667rem;
    margin: 0 auto; }
    .about ul a {
      font-size: 0.64rem;
      color: #999;
      font-family: "SourceHanSansCN-Normal";
      margin-right: 0.896rem; }
      .about ul a:last-child {
        margin-right: 0; }
  .about dl {
    width: 7.6586666667rem;
    margin: 1.0666666667rem auto 0; }
    .about dl dt {
      width: 2.7733333333rem;
      height: 2.816rem;
      background-image: url("../imgs/sina.png");
      background-size: cover;
      float: left;
      margin-right: 1.984rem; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .about dl dt {
          background-image: url("../imgs/sina@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .about dl dt {
          background-image: url("../imgs/sina@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .about dl dt {
          background-image: url("../imgs/sina@3x.png"); } }
    .about dl dd {
      width: 2.752rem;
      height: 2.6666666667rem;
      background-image: url("../imgs/qr-code.png");
      background-size: cover;
      float: left; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .about dl dd {
          background-image: url("../imgs/qr-code@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .about dl dd {
          background-image: url("../imgs/qr-code@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .about dl dd {
          background-image: url("../imgs/qr-code@3x.png"); } }

.copy-right {
  width: 100%;
  height: 1.8773333333rem;
  line-height: 1.8773333333rem;
  font-family: "SourceHanSansCN-Normal";
  font-size: 0.4693333333rem;
  color: #666666;
  text-align: center;
  overflow: hidden; }

/**
@Author：Wyunfei
@Date：2019/1/25/7:41
@FileName: index
*/
.banner {
  width: 16rem;
  height: 9.92rem;
  position: relative;
  background-image: url("../imgs/banner.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .banner {
      background-image: url("../imgs/banner@1.5x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    .banner {
      background-image: url("../imgs/banner@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    .banner {
      background-image: url("../imgs/banner@3x.png"); } }
  .banner .logo {
    position: absolute;
    width: 3.712rem;
    height: 0.8106666667rem;
    top: 0.9813333333rem;
    left: 0.64rem;
    background-image: url("../imgs/logo-white.png");
    background-size: cover; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      .banner .logo {
        background-image: url("../imgs/logo-white@1.5x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .banner .logo {
        background-image: url("../imgs/logo-white@2x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .banner .logo {
        background-image: url("../imgs/logo-white@3x.png"); } }
  .banner .menu {
    position: absolute;
    width: 0.8533333333rem;
    height: 0.5973333333rem;
    top: 1.1093333333rem;
    right: 0.64rem;
    background-image: url("../imgs/menu-white.png");
    background-size: cover; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      .banner .menu {
        background-image: url("../imgs/menu-white@1.5x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      .banner .menu {
        background-image: url("../imgs/menu-white@2x.png"); } }
    @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
      .banner .menu {
        background-image: url("../imgs/menu-white@3x.png"); } }
  .banner .title {
    text-align: center;
    padding-top: 4.1386666667rem; }
    .banner .title span:first-child {
      font-size: 1.28rem;
      color: white;
      font-family: 'SourceHanSansCN-Light';
      display: inline-block; }
    .banner .title span:last-child {
      display: inline-block;
      font-size: 0.64rem;
      color: white;
      font-family: 'ArialMT'; }

.service {
  width: 100%;
  background: #f7f8fa;
  overflow: hidden;
  padding-bottom: 1.024rem; }

.header {
  margin: 1.152rem auto 0.6186666667rem;
  width: 14.336rem;
  font-size: 0.6826666667rem;
  color: #666666; }
  .header span {
    font-size: 0.6826666667rem;
    color: #999; }

.content {
  width: 14.336rem;
  overflow: hidden;
  margin: 0.4266666667rem auto 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background: white;
  border-radius: 3px;
  padding: 0.96rem 0; }
  .content dl dt {
    width: 2.368rem;
    float: left;
    margin: 0.96rem 0 0 0.8746666667rem; }
    .content dl dt.service-icon {
      height: 1.984rem;
      background-image: url("../imgs/brand.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .content dl dt.service-icon {
          background-image: url("../imgs/brand@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .content dl dt.service-icon {
          background-image: url("../imgs/brand@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .content dl dt.service-icon {
          background-image: url("../imgs/brand@3x.png"); } }
    .content dl dt.user-icon {
      height: 2.1973333333rem;
      background-image: url("../imgs/user.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .content dl dt.user-icon {
          background-image: url("../imgs/user@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .content dl dt.user-icon {
          background-image: url("../imgs/user@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .content dl dt.user-icon {
          background-image: url("../imgs/user@3x.png"); } }
    .content dl dt.network-icon {
      height: 2.368rem;
      background-image: url("../imgs/network.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .content dl dt.network-icon {
          background-image: url("../imgs/network@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .content dl dt.network-icon {
          background-image: url("../imgs/network@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .content dl dt.network-icon {
          background-image: url("../imgs/network@3x.png"); } }
    .content dl dt.video-icon {
      height: 2.368rem;
      background-image: url("../imgs/video.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
        .content dl dt.video-icon {
          background-image: url("../imgs/video@1.5x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
        .content dl dt.video-icon {
          background-image: url("../imgs/video@2x.png"); } }
      @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        .content dl dt.video-icon {
          background-image: url("../imgs/video@3x.png"); } }
  .content dl dd {
    float: left;
    margin-left: 1.344rem; }
    .content dl dd h1 {
      font-family: "AdobeHeitiStd-Regular";
      font-size: 1.024rem;
      color: #272727; }
    .content dl dd ul li {
      font-size: 0.5546666667rem;
      color: #282828;
      line-height: 1.0666666667rem; }

.case {
  width: 100%;
  background: white;
  overflow: hidden; }
  .case .case-header {
    margin: 0.768rem 0 0.896rem 0.896rem;
    font-size: 0.6826666667rem;
    color: #666; }
  .case .case-content ul li {
    position: relative;
    width: 8rem;
    height: 8rem;
    float: left; }
    .case .case-content ul li img {
      width: 100%; }
    .case .case-content ul li span {
      display: inline-block;
      width: 6.016rem;
      height: 1.0666666667rem;
      line-height: 1.0666666667rem;
      font-size: 0.512rem;
      color: white;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.7);
      text-indent: 0.512rem;
      position: absolute;
      left: 0.6826666667rem;
      bottom: 0.6826666667rem; }

/**
@Author：Wyunfei
@Date：2019/1/27/11:14
@FileName: case
*/
.case-center {
  width: 100%;
  background: white;
  overflow: hidden; }

.case-content {
  width: 14.3786666667rem;
  margin: 0 auto 1.3226666667rem; }
  .case-content dl dt {
    width: 100%; }
    .case-content dl dt img {
      width: 100%; }
  .case-content dl dd {
    text-align: center; }
    .case-content dl dd p {
      font-size: 0.5973333333rem;
      color: #333;
      font-family: "MicrosoftYaHei";
      line-height: 1.28rem; }
    .case-content dl dd span {
      display: block;
      color: #999;
      font-size: 0.4266666667rem; }

/*# sourceMappingURL=app.css.map */
