/**
@Author：Wyunfei
@Date：2019/1/27/16:28
@FileName: index
*/
.wrap {
  width: 100%;
  height: 835px;
  margin: 0 auto;
  background: url("../imgs/bg.png") no-repeat center center;
  .main {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    header {
      margin-top: 27px;
      overflow: hidden;
      dl {
        dt {
          float: left;
        }
        dd {
          float: right;
          line-height: 24px;
          a {
            font-size: 18px;
            color: #fff;
            float: left;
            margin-left: 45px;
            u {
              display: block;
              width: 0px;
              height: 2px;
              background: white;
              margin:3px 0 0 50%;
              transition: all .5s;
            }
            &:hover u{
              width: 100%;
              margin-left: 0;
            }

            button {
              width: 105px;
              height: 28px;
              background: white;
              border-radius: 5px;
              color: #1c7d78;
              text-align: center;
            }
            img {
              float: left;
              margin: 5px 6px 0 0;
            }
          }
        }
      }
    }
    h1 {
      text-align: center;
      font-size: 50px;
      color: white;
      margin-top: 130px;
    }
    section {
      overflow: hidden;
      margin-top: 107px;
      dl {
        float: left;
        margin-right: 168px;
        text-align: center;
        overflow: hidden;
        color: #fff;
        &:last-child {
          margin-right: 0;
        }
        dt {

          img {
            width: 55px;
          }
          strong {
            display: block;
            font-size: 36px;
            margin-top: 15px;

          }
          small {
            font-size: 18px;
          }
        }
        ul {
          margin-top: 46px;
          li {
            font-size: 16px;

            line-height: 33px;
          }
        }
      }
    }
    .arrow {
      width: 100%;
      text-align: center;
      img {
        animation: arrow 1s infinite;
      }
    }
  }
}
@keyframes arrow  {
  from {
    margin-top: 10px;
    opacity: 0;
  }

  to {
    margin-top: 40px;
    opacity: 1;
  }
}
@-webkit-keyframes arrow  {
  from {
    margin-top: 10px;
    opacity: 0;
  }
  to {
    margin-top: 40px;
    opacity: 1;
  }
}
.case-list {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  header {
    font-size: 24px;
    line-height: 143px;
    text-align: center;
    color: #3B3B3B;
  }
  section {
    div {
      margin-top: 36px;
      margin-right: 12px;
      width: 382px;
      overflow: hidden;
      float: left;
      dt {
        width: 382px;
        height: 640px;
        overflow: hidden;
        img {
          width: 382px;
          height: 640px;
        }
      }
      dd {
        margin-top: 24px;
        p {
          font-size: 24px;
          color: #5E5E5E;
          line-height: 32px;
        }
        span {
          font-size: 18px;
          color: #BFBFBF;
        }
      }
    }
    dl {
      width: 382px;
      float: left;
      margin-top: 31px;
      margin-right: 12px;
      overflow: hidden;
      dt {
        img {
          width: 382px;
          height: 265px;
        }
      }
      dd {
        margin: 24px auto 0;
        width: 362px;
        p {
          font-size: 24px;
          color: #5E5E5E;
          line-height: 32px;

        }
        span {
          font-size: 18px;
          color: #BFBFBF;

        }
      }
      &:nth-of-type(2), &:nth-of-type(4) {
        margin-right: 0;
      }
      &:nth-of-type(n + 7):nth-of-type(3n + 1) {
        margin-right: 0;
      }
    }
  }

}
.about-wrap {
  width: 100%;
  height: 800px;
  margin: 106px auto 0;
  background: url("../imgs/about.png") no-repeat center center;

}
.about {
  width: 1170px;
  margin: 0 auto;
  aside {
    float: left;
    margin-top: 294px;
  }
  section {
    width: 639px;
    height: 432px;
    float: right;
    background: white;
    margin: 299px 30px 0 0;
    padding-left: 64px;
    color: #161616;
    h2 {
      margin: 54px 0 32px 0;
      font-size: 30px;
    }
    p {
      line-height: 36px;
      font-size: 16px;
    }
  }
}
.contact-wrap {
  width: 100%;
  height: 892px;
  margin: 0 auto;
  background: url("../imgs/contact.png") no-repeat center center;
  .contact {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    ul {
      li {
          width: 100%;
          overflow: hidden;
        u {
          display: block;
          font-family: "Arial-BoldMT";
          font-size: 36px;
          line-height: 48px;
          color: #d7d7d7;
          letter-spacing: 2px;
          padding-top: 63px;
          margin-bottom: 47px;
        }
        span {
          display: block;
          font-size: 14px;
          line-height: 36px;
          letter-spacing: 0px;
          color: #d7d7d7;
          opacity: 0.4;
        }
        small {
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 0px;
          color: #d7d7d7;
          margin-top: -32px;
        }
        img {
          margin-top: 111px;
        }
        button {
          width: 194px;
          height: 42px;
          background: #000;
          border: 2px #ffffff solid ;
          color: #eeeeee;
          margin-top: 21px;
        }
        &.qr-code {
          margin-left: 400px;
        }

        p {
          float: left;
          color: #959595;
          font-size: 12px;
          margin: -26px 0 0 44px;
          line-height: 36px;
        }
        &:last-child {
          font-size: 12px;
          line-height: 30px;
          letter-spacing: 0px;
          color: #c9c9c9;
          margin-top: 66px;
        }
      }
    }
  }
}



