/**
@Author：Wyunfei
@Date：2019/1/25/7:43
@FileName: common
*/
body,ul,li,p,h1,h2,h3,h4,h5,h6,form,img,div,section{margin:0;padding:0;border:0;}
body {
  font-family: "Microsoft YaHei UI Light";
}
@function rem($px) {
  @return $px / 46.875 + rem;
}



