<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item"><a href="">咨询列表</a></li>
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">案例管理</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">案例列表</a></dd>-->
                    <!--<dd><a href="">案例添加</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        </ul>
    </div>
</div>
