<link rel="stylesheet" href="/lib/layui/css/layui.css">
<div class="banner-index">
    <p class="logo"></p>
    <p class="menu" id="menu"></p>
    <p class="title">
        <span>有限空间  无限设计</span>
        <span>Finite Space, Infinite Design | From XINYI</span>
    </p>
</div>
<div class="mask layui-anim layui-anim-upbit" id="mask">
    <section>
        <ul>

            <li>
                <p class="logo"></p>
                <span class="close" id="close"></span>
            </li>
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="case">案例</a>
            </li>
            <li>
                <a href="/about">关于我们</a>
            </li>
            <li>
                <a href="/about">联系我们</a>
            </li>
        </ul>
    </section>
</div>

<script src="/lib/layui/layui.all.js"></script>
<script>
    document.getElementById('menu').onclick = function () {
        document.getElementById('mask').style.display = 'block'
    }
    document.getElementById('close').onclick = function () {
        document.getElementById('mask').style.display = 'none'
    }
</script>
