<div class="slogin">
    <p>新逸传媒专注企业创新设计 </p>
    <p>Finite Space, Infinite Design | From XINYI</p>
</div>
<div class="connect">
    <p>
        商务电话 <a href="tel:135-8151-7577">135-8151-7577</a>
    </p>
    <p>
        商务邮箱 <a href="mailto:gemini_0602@163.com">gemini_0602@163.com</a>
    </p>
</div>
<div class="about-footer">
    <ul>

        <a href="/">首页</a>

        <a href="/case">案例</a>

        <a href="/about">合作</a>

        <a href="/about">我们</a>

    </ul>
    <dl>
        <dt>
            <img src="/assets/imgs/sina@2x.png" alt="">
        </dt>
        <dd>
            <img src="/assets/imgs/qr-code@2x.png" alt="">
        </dd>
    </dl>
</div>

<div class="copy-right">
    @xinyi.all rights reserved.
</div>
