<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新逸传媒 - 关于我们</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<script src="/assets/js/init.js"></script>
<div class="banner">
    <p class="logo"></p>
    <p class="menu"></p>
</div>
<div class="about">
    <section>
        <h2>About 新逸 & 关于</h2>
        <p>新逸传播（US）</p>
        <p>既是设计公司，也是传媒公司，传说中的乙方。</p>
        <p>公司组建2015年，成立2018年，</p>
        <p>从印刷设计，到品牌设计，到广告传媒</p>
        <p>从排版，到创意，从标志设计延展到品牌全方位传播，</p>
        <p>塑造了上百个品牌，全面服务过上百家企业。</p>
        <p>我们不断进化，不断与时俱进，不断自我超越。</p>
        <p>2019，新逸传播带着全新的思路再次出发，</p>
    </section>
</div>
<div class="form">
    <h1>合作咨询<small>(以下内容均为必填)</small></h1>

    <form action="" method="post">
        <p>
            <input type="text" placeholder="姓名">
        </p>
        <p>
            <input type="text" placeholder="公司">
        </p>
        <p>
            <input type="tel" placeholder="电话">
        </p>
        <p>
            <input type="email" placeholder="邮箱">
        </p>
        <p>
            <textarea cols="3" placeholder="请填写您咨询的内容"></textarea>
        </p>
        <p>
            <input value="提交" type="submit"/>
        </p>
    </form>
</div>
<div class="contact">
    <p>或者您通过下列方式联系我们</p>
    <ul>
        <li>
            <u>Contact</u>
        </li>

        <li>
            <span>商务电话</span>
            <small>135-8151-7577</small>
        </li>
        <li>
            <span>商务邮箱</span>
            <small>gemini_0602@163.com</small>
        </li>
        <li>
            <button>在线设计咨询</button>
        </li>
    </ul>
</div>
<div class="about-footer">
    <ul>

            <a href="">首页</a>

            <a href="">案例</a>

            <a href="">合作</a>

            <a href="">我们</a>

    </ul>
    <dl>
        <dt>
        </dt>
        <dd></dd>
    </dl>
</div>
<div class="copy-right">
    @xinyi.all rights reserved.
</div>
</body>
</html>
