{{ extend '../templates/layout/base.html' }}
{{ block 'content' }}
{{ include '../templates/banner.html' }}
<div class="case-center">
    <header class="header">咨询服务 <span>SERVICE</span></header>
    <section class="case-content">
        <dl>
            <dt>
                <img src="/assets/imgs/case.png" alt="">
            </dt>
            <dd>
                <p>方太新零售消费体验创新咨询</p>
                <span>用户研究｜消费动线研究｜产品策略</span>
            </dd>
        </dl>
    </section>
    <section class="case-content">
        <dl>
            <dt>
                <img src="/assets/imgs/case.png" alt="">
            </dt>
            <dd>
                <p>方太新零售消费体验创新咨询</p>
                <span>用户研究｜消费动线研究｜产品策略</span>
            </dd>
        </dl>
    </section>
    <section class="case-content">
        <dl>
            <dt>
                <img src="/assets/imgs/case.png" alt="">
            </dt>
            <dd>
                <p>方太新零售消费体验创新咨询</p>
                <span>用户研究｜消费动线研究｜产品策略</span>
            </dd>
        </dl>
    </section>
</div>
{{ include '../templates/footer.html' }}
{{ /block }}

