@charset "UTF-8";
/**
@Author：Wyunfei
@Date：2019/1/27/16:26
@FileName: app
*/
/**
@Author：Wyunfei
@Date：2019/1/27/16:26
@FileName: common
*/
body, ul, li, p, h1, h2, h3, h4, h5, h6, form, img, div, section, header, dl, dt, dd, small {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

li {
  list-style: none; }

button {
  border: 0;
  cursor: pointer; }

body {
  font-family: "MicrosoftYaHei";
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #0f78ef; }

/**
@Author：Wyunfei
@Date：2019/1/27/16:28
@FileName: index
*/
.wrap {
  width: 100%;
  height: 835px;
  margin: 0 auto;
  background: url("../imgs/bg.png") no-repeat center center; }
  .wrap .main {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden; }
    .wrap .main header {
      margin-top: 27px;
      overflow: hidden; }
      .wrap .main header dl dt {
        float: left; }
      .wrap .main header dl dd {
        float: right;
        line-height: 24px; }
        .wrap .main header dl dd a {
          font-size: 18px;
          color: #fff;
          float: left;
          margin-left: 45px; }
          .wrap .main header dl dd a u {
            display: block;
            width: 0px;
            height: 2px;
            background: white;
            margin: 3px 0 0 50%;
            transition: all .5s; }
          .wrap .main header dl dd a:hover u {
            width: 100%;
            margin-left: 0; }
          .wrap .main header dl dd a button {
            width: 105px;
            height: 28px;
            background: white;
            border-radius: 5px;
            color: #1c7d78;
            text-align: center; }
          .wrap .main header dl dd a img {
            float: left;
            margin: 5px 6px 0 0; }
    .wrap .main h1 {
      text-align: center;
      font-size: 50px;
      color: white;
      margin-top: 130px; }
    .wrap .main section {
      overflow: hidden;
      margin-top: 107px; }
      .wrap .main section dl {
        float: left;
        margin-right: 168px;
        text-align: center;
        overflow: hidden;
        color: #fff; }
        .wrap .main section dl:last-child {
          margin-right: 0; }
        .wrap .main section dl dt img {
          width: 55px; }
        .wrap .main section dl dt strong {
          display: block;
          font-size: 36px;
          margin-top: 15px; }
        .wrap .main section dl dt small {
          font-size: 18px; }
        .wrap .main section dl ul {
          margin-top: 46px; }
          .wrap .main section dl ul li {
            font-size: 16px;
            line-height: 33px; }
    .wrap .main .arrow {
      width: 100%;
      text-align: center; }
      .wrap .main .arrow img {
        animation: arrow 1s infinite; }

@keyframes arrow {
  from {
    margin-top: 10px;
    opacity: 0; }
  to {
    margin-top: 40px;
    opacity: 1; } }
@-webkit-keyframes arrow {
  from {
    margin-top: 10px;
    opacity: 0; }
  to {
    margin-top: 40px;
    opacity: 1; } }
.case-list {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden; }
  .case-list header {
    font-size: 24px;
    line-height: 143px;
    text-align: center;
    color: #3B3B3B; }
  .case-list section div {
    margin-top: 36px;
    margin-right: 12px;
    width: 382px;
    overflow: hidden;
    float: left; }
    .case-list section div dt {
      width: 382px;
      height: 640px;
      overflow: hidden; }
      .case-list section div dt img {
        width: 382px;
        height: 640px; }
    .case-list section div dd {
      margin-top: 24px; }
      .case-list section div dd p {
        font-size: 24px;
        color: #5E5E5E;
        line-height: 32px; }
      .case-list section div dd span {
        font-size: 18px;
        color: #BFBFBF; }
  .case-list section dl {
    width: 382px;
    float: left;
    margin-top: 31px;
    margin-right: 12px;
    overflow: hidden; }
    .case-list section dl dt img {
      width: 382px;
      height: 265px; }
    .case-list section dl dd {
      margin: 24px auto 0;
      width: 362px; }
      .case-list section dl dd p {
        font-size: 24px;
        color: #5E5E5E;
        line-height: 32px; }
      .case-list section dl dd span {
        font-size: 18px;
        color: #BFBFBF; }
    .case-list section dl:nth-of-type(2), .case-list section dl:nth-of-type(4) {
      margin-right: 0; }
    .case-list section dl:nth-of-type(n + 7):nth-of-type(3n + 1) {
      margin-right: 0; }

.about-wrap {
  width: 100%;
  height: 800px;
  margin: 106px auto 0;
  background: url("../imgs/about.png") no-repeat center center; }

.about {
  width: 1170px;
  margin: 0 auto; }
  .about aside {
    float: left;
    margin-top: 294px; }
  .about section {
    width: 639px;
    height: 432px;
    float: right;
    background: white;
    margin: 299px 30px 0 0;
    padding-left: 64px;
    color: #161616; }
    .about section h2 {
      margin: 54px 0 32px 0;
      font-size: 30px; }
    .about section p {
      line-height: 36px;
      font-size: 16px; }

.contact-wrap {
  width: 100%;
  height: 892px;
  margin: 0 auto;
  background: url("../imgs/contact.png") no-repeat center center; }
  .contact-wrap .contact {
    width: 1170px;
    margin: 0 auto;
    text-align: center; }
    .contact-wrap .contact ul li {
      width: 100%;
      overflow: hidden; }
      .contact-wrap .contact ul li u {
        display: block;
        font-family: "Arial-BoldMT";
        font-size: 36px;
        line-height: 48px;
        color: #d7d7d7;
        letter-spacing: 2px;
        padding-top: 63px;
        margin-bottom: 47px; }
      .contact-wrap .contact ul li span {
        display: block;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #d7d7d7;
        opacity: 0.4; }
      .contact-wrap .contact ul li small {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0px;
        color: #d7d7d7;
        margin-top: -32px; }
      .contact-wrap .contact ul li img {
        margin-top: 111px; }
      .contact-wrap .contact ul li button {
        width: 194px;
        height: 42px;
        background: #000;
        border: 2px #ffffff solid;
        color: #eeeeee;
        margin-top: 21px; }
      .contact-wrap .contact ul li.qr-code {
        margin-left: 400px; }
      .contact-wrap .contact ul li p {
        float: left;
        color: #959595;
        font-size: 12px;
        margin: -26px 0 0 44px;
        line-height: 36px; }
      .contact-wrap .contact ul li:last-child {
        font-size: 12px;
        line-height: 30px;
        letter-spacing: 0px;
        color: #c9c9c9;
        margin-top: 66px; }

/*# sourceMappingURL=app.css.map */
